<div class="sidebar">
    <app-fcnavbar></app-fcnavbar>
</div>

   <!-- Main Content -->
<div class="main-content">
    <!-- Faculty Secretary Header -->
    <div class="faculty-header">
        <img src="./profile-add.png" alt="User Icon" class="user-icon">
        <h2 class="header">Faculty Secretary</h2>
    </div>       

        <div class="exam-list">
            <!-- Create Exam Schedule Card -->
            <div class="exam-card">
                <img src="./note-add.png" alt="Create Exam" class="icon">
                <div class="text">
                    <h4>Create & Organize Exam Schedule</h4>
                    <p>Set and manage exam dates, times, and locations for students and instructors.</p>
                </div>
                <img src="./4lines.png" alt="Options" class="menu-icon">
            </div>

            <!-- Manage Exam Details Cards -->
            <div class="exam-card">
                <img src="./note.png" alt="Manage Exam" class="icon">
                <div class="text">
                    <h4>Manage Details</h4>
                    <p>Update exam information or reschedule when needed.</p>
                </div>
                <img src="/4lines.png" alt="Options" class="menu-icon">
            </div>

            <div class="exam-card">
                <img src="./note-star.png" alt="Manage Exams" class="icon">
                <div class="text">
                    <h4>Manage Details</h4>
                    <p>Update exam information or reschedule when needed.</p>
                </div>
                <img src="./4lines.png" alt="Options" class="menu-icon">
            </div>
        </div>
    