<div class="sidebar">
    <app-instructornavbar></app-instructornavbar>
</div>
<div class="main-content">
    <div class="custom-box">
        <img src="Icons\profile-add.png" alt="Icon" class="icon-img"> <!-- Icon as an image -->
        <span class="course-text">Instructor List</span> <!-- Text with custom class -->

        <div class="box1">
            <h1>SE302/1</h1>
            <p>Software Project Management</p>
            <p>Dr. Öğr. Üyesi KRİSTİN SURPUHİ BENLİ</p>
            <button class="custom-button">Details For Resit Exams</button>
            <img src="Icons\textalign-justifycenter.png" alt="icon-box-img" class="icon-box-img"> <!-- Icon as an image -->
        </div>

        <div class="box1">
            <h1>SE302/1</h1>
            <p>Software Project Management</p>
            <p>Dr. Öğr. Üyesi KRİSTİN SURPUHİ BENLİ</p>
            <button class="custom-button">Details For Resit Exams</button>
            <img src="Icons\textalign-justifycenter.png" alt="icon-box-img" class="icon-box-img"> <!-- Icon as an image -->
        </div>

        <div class="box1">
            <h1>SE302/1</h1>
            <p>Software Project Management</p>
            <p>Dr. Öğr. Üyesi KRİSTİN SURPUHİ BENLİ</p>
            <button class="custom-button">Details For Resit Exams</button>
            <img src="Icons\textalign-justifycenter.png" alt="icon-box-img" class="icon-box-img"> <!-- Icon as an image -->
        </div>

        <div class="box1">
            <h1>SE302/1</h1>
            <p>Software Project Management</p>
            <p>Dr. Öğr. Üyesi KRİSTİN SURPUHİ BENLİ</p>
            <button class="custom-button">Details For Resit Exams</button>
            <img src="Icons\textalign-justifycenter.png" alt="icon-box-img" class="icon-box-img"> <!-- Icon as an image -->
        </div>

        <div class="box1">
            <h1>SE302/1</h1>
            <p>Software Project Management</p>
            <p>Dr. Öğr. Üyesi KRİSTİN SURPUHİ BENLİ</p>
            <button class="custom-button">Details For Resit Exams</button>
            <img src="Icons\textalign-justifycenter.png" alt="icon-box-img" class="icon-box-img"> <!-- Icon as an image -->
        </div>
    </div>
</div>