<div class="sidebar">
    <app-fcnavbar></app-fcnavbar>
</div>

<app-thickerrordeletesucc></app-thickerrordeletesucc>

<!-- Main Content -->
<div class="main-content">
    <div class="faculty-header">
        <img src="./profile-add.png" alt="User Icon" class="user-icon">
        <h2 class="header">Uploaded Files</h2>
    </div> 

    <div class="uploaded-files">
        <div class="file-entry">
            <img src="./folder.png" alt="Folder Icon" class="file-icon">
            <span class="file-name">Fall term resit exam.pdf</span>
            <div class="file-actions">
                <img src="./eye.png" alt="View Icon" class="action-icon">
                <img src="./trash.png" alt="Delete Icon" class="action-icon">
            </div>
        </div>

        <div class="file-entry">
            <img src="./folder.png" alt="Folder Icon" class="file-icon">
            <span class="file-name">Resit exam 2025.pdf</span>
            <div class="file-actions">
                <img src="./eye.png" alt="View Icon" class="action-icon">
                <img src="./trash.png" alt="Delete Icon" class="action-icon">
            </div>
        </div>
    </div>

    <div class="add-file-button">
        <button>Add new file</button>
    </div>
</div>
