<div class="sidebar">
  <app-studentnavbar [StudentName]="StudentName"></app-studentnavbar>
</div>

<div class="main-content">
    <div class="head d-flex align-items-center mb-3">
        <img src="./gray-ann.png" alt="Grades" width="30" height="30" class="me-3">
        <span class="page-title">Announcements</span>
      </div>
       <!-- Show message if no courses -->
  <div *ngIf="courses.length === 0" class="no-exam-message">
    You do not have any exam details or announcements yet.
  </div>

  <!-- Show courses if exist -->
  <div class="course-bar" *ngFor="let course of courses">
    <p>{{ course.course.course_name }}</p>
    <a [routerLink]="['/examdetails-scourseann', course.course.id]">
      <img src="./arrow-right.png" alt="arrow-right" width="25" height="25" />
    </a>
  </div>

</div>
