<div class="main-wrapper">
  <!-- LEFT COLUMN -->
  <div class="left-column">
    <div class="toggle-buttons">
      <button class="btn active">ÖĞRENCİ</button>
      <button class="btn">PERSONEL</button>
    </div>

    <h2>Reset Password</h2>
    <p class="lang-toggle">TR / EN</p>

    <form>
      <label class="input-label">Identity Number</label>
    
      <label class="input-label">Student Number</label>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    
      <div class="checkbox-wrapper">
        <label for="consent">
          <input type="checkbox" id="consent" />
          I have read the Information and Disclosure Text under the Law on Protection of Personal Data. (*)
          <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300&display=swap" rel="stylesheet">

        </label>
      </div>
    
      <button type="submit" class="submit-btn">RESET PASSWORD</button>
    </form>
    
    
    <p class="policy-link">
      Üsküdar Üniversitesi <span class="privacy-highlight">Privacy Policy</span>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300&display=swap" rel="stylesheet">
    </p>


    <div class="logo">
      <img src="https://uskudar.edu.tr/images/logo.png" alt="Üsküdar Logo" />
    </div>
  </div>

  <!-- RIGHT COLUMN -->
  <div class="right-column">
    <div class="info-box">
      <p>
        The passwords of the automations you use at our university have been updated st.uskudar.edu.tr e-mail passwords. If you don't remember your password, following After entering your information, a verification code is sent to your mobile phone number in OBS. You can use this code for 5 min. You need to enter the system in it. You can use this verification code to After entering, you can create a new password for yourself. When creating a new password, there should be a minimum of 8 characters, your name should not be included in the password, at least 1 special character, at least 1 uppercase letter (A-Z), at least 1 lowercase letter (a-z).      </p>
      <ul>
        <li>Student Information System (OBS) / https://sis.uskudar.edu.tr</li>
        <li>STIX / https://stix.uskudar.edu.tr</li>
        <li>ALMS / https://lms.uskudar.edu.tr</li>
        <li>Application System / https://basvuru.uskudar.edu.tr</li>
        <li>Wireless</li>
        <li>Office 365 Üsküdar e-mail address (&#64;st.uskudar.edu.tr)</li>
      </ul>
      <p class="note">
        <b>Note:</b> A password can only be changed on the same day one time through the Single Password system. 
      </p>
     <p class="note2">
      "Students who will enter the OBS system for the first time can log in by typing the initials of their names-TR ID number* in the password field."
    </p>
      <p class="email-help">
        If you cannot log in even though you have done all the procedures; Send an e-mail to the teksifreuskudar.edu.tr address specifying your student number or apply to the Information Technologies Department on your campus.
      </p>
    </div>
  </div>
</div>

