@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
  }
  
  /* Main Content */
  .main-content {
    margin-left: 250px; /* Same as sidebar width */
    padding: 30px;
  }
  
  /* Custom Box */
  .custom-box {
    background-color: #f2f2f3;
    width: 100%; 
    max-width: 1250px; 
    min-height: 100vh;
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 0 auto;
  }
  
  /* Icon and Text */
  .icon-text {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .icon-img {
    width: 35px;
    height: 35px;
    margin-bottom: 1%;

  }
  
  .course-text {
    font-size: 1.5rem;
    color: #676868;
  }

  .course-bar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    max-width: 1200px;
    height: 60px;
    min-height: 50px;
    padding: 0.2rem;
    border-radius: 0.8rem; 
    margin: 20px auto; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
        font-size: 1.2rem;
  }

  .course-bar p{
    padding-top: 15px;
        padding-left: 20px;

    color: #181818;
    font-weight: 400;
  }

  .course-bar img {
    padding-right: 20px;
    cursor: pointer;
  }