<div class="overlay">
    <div class="modal">
      <div class="modal-header">
        <h2>Confirm Your Delete</h2>
        <button (click)="onCancel()" class="close-btn">✖</button>
      </div>
      <div class="modal-body">
        <p>Do you want to Delete ?</p>
      </div>
      <div class="modal-footer">
        <button class="confirm-btn" (click)="onConfirm()">Yes, I want to Delete</button>
        <button class="cancel-btn" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </div>