<div class="sidebar">
    <app-studentnavbar></app-studentnavbar>
</div>

<div class="main-content">
    <div class="head d-flex align-items-center">
        <img src="./grayexamdetails.png" alt="Grades" width="30" height="30" class="me-3">
        <span class="page-title">Exam Details |</span>
      </div>
      <div class="container mt-4">
        <div class="card mb-4 shadow-sm " *ngFor="let announcement of announcements">
          <div class="card-body">
            <div class="ann-content">
                <div class="top-bar d-flex">
                    <img src="./instructor-profile.png" alt="profile" width="30" height="30" class="rounded-circle me-2">
                    <span class="sender fw-bold mb-2">{{ announcement.sender }}</span>
                  </div>
              <p class="mb-3 text-muted">{{ announcement.message }}</p>
              <small class=" dates text-muted fst-italic">
                Date of addition : {{ announcement.createdAt }} &nbsp;
                Date of last update : {{ announcement.updatedAt }}
              </small>
            </div>
          </div>
        </div>
      </div>
      
</div>
