.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
  }
  
 
  /* Main Content (to prevent overlap) */
  .main-content {
    margin-left: 250px; /* Same as sidebar width */
    padding: 20px;
  }

  .page-title{
    color: #536073;
    font-size: x-large;
    font-weight: 600;
    margin-left: 7px;
  }
 
  .head{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
  }

  
.container {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 70px;
    
  }
  
  .top-bar {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;

  }
 .sender{
    color: #536073;
    padding-left: 15px;
 }
 .ann-content {
    color: #536073;
    padding: 5px;
    display: flex;
    flex-direction: column;
    font-weight: 350;
   
 }
 .dates{
    padding-top: 5;
    font-style: italic;
    font-weight: 300;
    align-self: flex-end; 
    text-align: right;
 }