<div class="sidebar">
  <app-studentnavbar [StudentName]="StudentName"></app-studentnavbar>
</div>

<div class="main-content">
<div class="head d-flex align-items-center mb-3">
  <img src="./graygrades.png" alt="Grades" width="30" height="30" class="me-3">
  <span class="page-title">Grades Details</span>
</div>
  <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Final Exam Grades</th>
            <th>Resit Exam Grade</th>
            <th>Letter Grade</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
         <tr *ngFor="let course of grades; let j = index">
          <td> {{ j + 1 }} </td>
  <!-- <td>{{ course.id }}</td> -->
  <td>{{ course.course_code }}</td>
  <td>{{ course.course_name }}</td>
  <td style="text-align: center;">{{ course.final ?? '--' }}</td>
  <td style="text-align: center;">{{ course.resit ?? '--' }}</td>
  <td style="text-align: center;">{{ course.letterGrade ?? '--' }}</td>
  <td [ngClass]="{ 'passed': course.status === 'Passed', 'failed': course.status === 'Failed' }">
    {{ course.status ?? '--' }}
  </td>
</tr>
        </tbody>
      </table>
    </div>
</div>