<div class="sidebar">
    <app-instructornavbar></app-instructornavbar>
</div>

<div class="main-content">
    <div class="custom-box">
        <img src="Icons\profile-add.png" alt="Icon" class="icon-img"> <!-- Icon as an image -->
        <span class="course-text">Grades Form</span> <!-- Text with custom class -->


        <div class="row mb-12">
            <div class="row mb-3" style="margin-top: 30px;">  
                <div class="row mb-12">
                    <div class="row mb-3" style="margin-top: 1px;"> 

                        <div class="row mb-12">
                            <label class="form-label">Course Code </label>
                            <input type="text" class="form-control" placeholder="SE/489" style="width: 900px;">
                        </div>
                
                        <div class="row mb-12">
                            <label class="form-label">ID</label>
                            <input type="text" class="form-control" placeholder="210203874" style="width: 900px;">
                        </div>
                    </div>
                    
                    <div class="row mb-12">
                      
                        <div class="row mb-12">
                            <label class="form-label">Full Name </label>
                            <input type="text" class="form-control" placeholder="Sarah Alhalaki" style="width: 900px;">
                        </div>
                        
                        <div class="row mb-12">
                            <label class="form-label">Grade</label>
                            <input type="text" class="form-control" placeholder="85" style="width: 900px;">
                        </div>
                    </div>
                    
                    <div class="row mb-12">
                
                        <div class="row mb-12">
                            <label class="form-label">Grade Letter</label>
                            <select class="form-select" style="width: 900px;">
                                <option>AA</option>
                                <option>BA</option>
                                <option>BB</option>
                                <option>CB</option>
                                <option>CC</option>
                                <option>DC</option>
                                <option>DD</option>
                                <option>FD</option>
                                <option>FF</option>
                            </select>
                        </div>
                     
                        <div class="row mb-12">
                            <label class="form-label">Status</label>
                            <select class="form-select" id="statusSelect" style="width: 900px;">
                                <option selected>Select Here</option>
                                <option value="Passed">Passed</option>
                                <option value="Failed">Failed</option>
                            </select>
                        </div>
                    </div>
                </div>
       
      
  